<div class="row slide-page">
  <div class="col-md-8">
    <% if @slide.previews.any? %>
      <div class="pages-container">
        <%= render 'pages', slide: @slide %>
      </div>

      <div class="operations">
        <a href="" class='btn btn-sm btn-primary pull-right' style='margin-left: 5px;'>
          <span class="glyphicon glyphicon-pushpin"></span>
          收藏
        </a>
        <a href="" class='btn btn-sm btn-primary pull-right'>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          赞(34)
        </a>
        <div class="clearfix"></div>
      </div>
    <% else %>
      <h4>对不起，您查看的讲稿正在处理中，请稍待几分钟后刷新重试。</h4>
    <% end %>

    <div class="slide-infos">
      <h4><%= @slide.title %></h4>
      <p><%= @slide.description %></p>
    </div>
  </div>

  <div class="col-md-4 slide-page-sidebar">
    <div class="author-infos">
      <div class="col-md-3">
        <a href="" class="author-avatar-link">
          <%= image_tag 'demo/avatar.jpeg', class: 'author-avatar img-rounded' %>
        </a>
      </div>
      <div class='author col-md-8'>
        <h4><%= link_to 'Martin', '#martin', class: 'author-name' %></h4>
        <div class="author-bio">
          Ruby on Rails开发者，热爱开源技术，热爱前端，热爱web
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="share-panel">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">讲稿详情</h4>
            <div class="list-group-item-text">
              <p>
                标题：
                《<%= @slide.title %>》
              </p>
              <p>
                分类：
                <%= link_to @category do %>
                  <%= @category.try(:name) %>
                <% end %>
              </p>
              <p>
                总页数：
                <%= @slide.previews.any? ? @slide.previews.count : @slide.retrieve_total_pages %>
              </p>
              <p>
                成功发表于：<%= l @slide.created_at, format: :long %>
              </p>
              <p>
                是否支持原版PDF下载：<%= @slide.downloadable ? "是" : "否" %>
              </p>
            </div>
          </li>

          <% if @slide.downloadable || @slide.previews.any? %>
            <li class="list-group-item">
              <h4 class="list-group-item-heading">分享讲稿</h4>
              <div class="list-group-item-text">
                <% if @slide.previews.any? %>
                  <p>
                    新浪微博分享
                    <wb:share-button appkey="2hurr5" addition="number" type="button" ralateUid="5283496115" default_text="我在讲稿网(<%= slide_url(@slide) %>)发现了一个很不错的讲稿《<%= @slide.title %>》，作者是<%= @slide.user.try(:name) %>，分享给各位朋友！" pic="<%= resource_url(@slide.previews.first.filename) %>"></wb:share-button>
                  </p>
                <% end %>

                <% if @slide.downloadable %>
                  <p>
                    <%= link_to resource_url(@slide.filename) do %>
                      <span class="glyphicon glyphicon-cloud-download"></span>下载原版PDF
                    <% end %>
                  </p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
