<div class="row slide-page">
  <div class="col-md-8">
    <div class="pages-container">
      <%= render 'pages', slide: @slide %>
    </div>

    <div class="operations">
      <a href="" class='btn btn-sm btn-primary'>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        赞(34)
      </a>
      <a href="" class='btn btn-sm btn-primary'>
        <span class="glyphicon glyphicon-pushpin"></span>
        收藏
      </a>

      <a href="" class='btn btn-sm btn-danger pull-right share-btn'>
        <span class="glyphicon glyphicon-share"></span>
        分享
      </a>
    </div>
    <div class="shares">
      <p>
        <a href=""><%= image_tag 'sina.png' %>微博分享</a>
        <% if @slide.downloadable %>
          <%= link_to resource_url(@slide.filename), style: 'margin-left: 30px' do %>
            <span class="glyphicon glyphicon-cloud-download"></span>下载原版PDF
          <% end %>
        <% end %>
      </p>
      <p>
        复制页面链接：
        <input type="text" value="<%= request.url %>" disabled>
        <button class='btn btn-sm'><span class="glyphicon glyphicon-link"></span>复制</button>
      </p>
    </div>

    <div class="slide-infos">
      <h4><%= @slide.title %></h4>
      <p><%= @slide.description %></p>
    </div>
  </div>

  <div class="col-md-4 slide-page-sidebar">
    <div class="author-infos">
      <div class="col-md-3">
        <a href="" class="author-avatar-link">
          <%= image_tag 'demo/avatar.jpeg', class: 'author-avatar img-rounded' %>
        </a>
      </div>
      <div class='author col-md-8'>
        <h4><%= link_to 'Martin', '#martin', class: 'author-name' %></h4>
        <div class="author-bio">
          Ruby on Rails开发者，热爱开源技术，热爱前端，热爱web
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="share-panel">
        <ul class="list-group">
          <li class="list-group-item">
            <%= link_to @category do %>
              分类：<%= @category.try(:name) %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
