<h3>Martin的讲稿</h3>

<div class="row">
  <div class="col-md-8">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag 'demo/1.png', class: 'img-rounded' %>
        <div class="caption text-center">
          <h3><a href="">WebRTC技术初探</a></h3>
          <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
        </div>
      </div>
    </div>

    <div class='pagination-container'>
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li class='active'><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 slide-page-sidebar">
    <div class="author-infos">
      <div class="col-md-3">
        <a href="" class="author-avatar-link">
          <%= image_tag 'demo/avatar.jpeg', class: 'author-avatar img-rounded' %>
        </a>
      </div>
      <div class='author col-md-8'>
        <h4><%= link_to 'Martin', '#martin', class: 'author-name' %></h4>
        <div class="author-bio">
          Ruby on Rails开发者，热爱开源技术，热爱前端，热爱web
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
