<div class="col-md-3 categories-sidebar">
  <h4>浏览</h4>

  <%= render 'shared/categories_list' %>
</div>

<div class="col-md-9">
  <div id='computing' class='category-featured'>
    <div>
      <span class='category-title'>计算机</span>

      <span class="more">
        <a href="">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>
      </span>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='design' class='category-featured'>
    <div>
      <span class='category-title'>艺术设计</span>

      <span class="more">
        <a href="">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>
      </span>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='business' class='category-featured'>
    <div>
      <span class='category-title'>商务金融</span>

      <span class="more">
        <a href="">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>
      </span>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'demo.jpg', class: 'img-rounded' %>
          <div class="caption text-center">
            <h3><a href="">WebRTC技术初探</a></h3>
            <p>简单介绍WebRTC技术的相关知识，以及WebRTC中三类主要的API。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
