<!DOCTYPE html>
<html>
<head>
  <title>讲稿网 <%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="container-fluid" id='content'><%= yield %></div>
  <%= render 'shared/footer' %>

  <%= yield :additional_javascript %>
</body>
</html>
